# Replit
.replit
.replitignore
.npmrc
replit.md
.agents/

# Projet Replit
artifacts/
lib/
scripts/
attached_assets/
package.json
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig*.json

# Node
node_modules/

# Fichiers perso
*.xlsx
*.csv
